# pandas-combine-workbooks-example

By Ben Welsh

An example showing how to use Python's pandas library to combine tabs from multiple Microsoft Excel workbooks into a single CSV.

### Installing what we need besides pandas

In order to read in Excel files, pandas requires you to install the xlrd library.

In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/palewire/.virtualenvs/pandas-combine-workbooks-example/lib/python2.7/site-packages

Now import pandas

In [2]:
import pandas as pd

### Retrieving the file list

I've seeded the input directory with 10 Excel files, each with a year as its name. Let's use Python's glob tool to collect the path to each file.

In [3]:
import glob

In [4]:
file_list = glob.glob("./input/*.xlsx")

In [5]:
file_list

['./input/2009.xlsx',
 './input/2005.xlsx',
 './input/2006.xlsx',
 './input/2004.xlsx',
 './input/2001.xlsx',
 './input/2003.xlsx',
 './input/2007.xlsx',
 './input/2002.xlsx',
 './input/2008.xlsx',
 './input/2000.xlsx']

### A short digression

Each file has 10 tabs.

In order to get pandas to read in all the tab, you have to pass None into the sheet_name keyword argument of read_excel.

```python
pd.read_excel(file_list[0], sheet_name=None)
```

That will return a dictionary with each key being a tab name and each value being a dataframe. Here's a rough example.

In [6]:
df_dict = pd.read_excel(file_list[0], sheet_name=None)

Here's all the keys

In [7]:
df_dict.keys()

[u'Sheet1',
 u'Sheet2',
 u'Sheet3',
 u'Sheet4',
 u'Sheet5',
 u'Sheet6',
 u'Sheet7',
 u'Sheet8',
 u'Sheet9',
 u'Sheet10']

Which can be used to pull out the dataframes.

In [8]:
df_dict['Sheet1'].head()

   row1 row2
0     1    a
1     2    b
2     3    c
3     4    d
4     5    a

Looping through that dict isn't hard at all.

In [9]:
for tab_name, df in df_dict.items():
    print "{}: {} rows".format(tab_name, len(df))

Sheet1: 100 rows
Sheet2: 100 rows
Sheet3: 100 rows
Sheet4: 100 rows
Sheet5: 100 rows
Sheet6: 100 rows
Sheet7: 100 rows
Sheet8: 100 rows
Sheet9: 100 rows
Sheet10: 100 rows

### Actually doing it

Knowing that, we can write a loop that will step through the file list and for each file read in a dictionary of dataframes. Those dictionaries can then be stepped through to grab each tabs data.

Before  I start the loop I am going to make an empty list where we will store each dataframe we retreive.

In [10]:
df_list = []

Now I'm going to make a run for it.

In [11]:
# Loop through the files
for file_path in file_list:
    # Print out what we're doing
    print("Opening Excel file at {}".format(file_path))
    
    # Open up a dictionary with all the tabs as dataframes
    df_dict = pd.read_excel(file_path, sheet_name=None)
    
    # Loop through those tabs ...
    for tab_name, df in df_dict.items():
        
        # Print out where we are
        print("- Parsing tab {} with {} rows".format(tab_name, len(df)))

        # Let's add that file name and tab name to each dataframe so they are tagged
        df['file_path'] = file_path
        df['tab_name'] = tab_name
        
        # Add the dataframe to our master list above
        df_list.append(df)

Opening Excel file at ./input/2009.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2005.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2006.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2004.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2001.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2003.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2007.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2002.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2008.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows
Opening Excel file at ./input/2000.xlsx
- Parsing tab Sheet1 with 100 rows
- Parsing tab Sheet2 with 100 rows
- Parsing tab Sheet3 with 100 rows
- Parsing tab Sheet4 with 100 rows
- Parsing tab Sheet5 with 100 rows
- Parsing tab Sheet6 with 100 rows
- Parsing tab Sheet7 with 100 rows
- Parsing tab Sheet8 with 100 rows
- Parsing tab Sheet9 with 100 rows
- Parsing tab Sheet10 with 100 rows

Now let's combine all of our dataframes from the list into one master dataframe. Pandas' concat tool is good at this.

In [12]:
master_df = pd.concat(df_list)

### Finishing it off

Kick the tires

In [13]:
len(master_df)

10000

In [14]:
master_df.head()

   row1 row2          file_path tab_name
0     1    a  ./input/2009.xlsx   Sheet1
1     2    b  ./input/2009.xlsx   Sheet1
2     3    c  ./input/2009.xlsx   Sheet1
3     4    d  ./input/2009.xlsx   Sheet1
4     5    a  ./input/2009.xlsx   Sheet1

Write out the combined file.

In [15]:
master_df.to_csv("./output/combined.csv", index=False)